* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}
header {
  position: fixed;
  top: 0;
  min-height: 90px;
  display: flex;
  background-color: #070054;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  /* position: fixed; */
  width: 100%;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bars {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.logo img {
  height: 40px;
  width: 60px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
.menu-items {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  font-weight: 700;
}

.menu-items a:hover {
  cursor: pointer;
}
.menu-items a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 50px;
  min-height: 100vh;
  background: #dedede;
}
.about h1 {
  font-size: 75px;
  color: #070054;
  padding-bottom: 10px;
}
.about p {
  font-size: 20px;
  color: #070054;
  max-width: 70%;
}
.about-col-2 img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.section-header h2 {
  font-size: 75px;
  color: #070054;
  padding-bottom: 10px;
  text-align: center;
}
.section-header p {
  font-size: 20px;
  color: #070054;
  padding-bottom: 20px;
  text-align: center;
}
.content-with-image {
  display: flex;
  align-items: center;
  gap: 50px;
}
.content-with-image-1 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}
.image-1 {
  display: flex;
  align-items: center;
  flex: 1;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.image-1 img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.content a {
  text-decoration: none;
  color: #070054;
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.feature {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: #dedede;
}
.feature h3 {
  max-width: 80%;
  color: #070054;
}
.feature p {
  max-width: 80%;
}
.feature-icon {
  font-size: 40px;
}
.content-with-image .image1 {
  object-fit: cover;
  height: 70%;
  width: 70%;
}
.skills button {
  padding: 10px 15px;
  font-size: 15px;
  margin-left: 10px;
  color: #070054;
  border-color: #070054;
  border-radius: 5px;
  cursor: pointer;
}
.skills-projects {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.repo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  background: #070054;
  border-radius: 1rem;
  padding: 20px 30px;
  height: 250px;
}

.repo h3 {
  color: #dedede;
  font-size: 20px;
}
.repo p {
  color: #dedede;
  width: 80%;
}
.name {
  width: 100%;
  background: #dedede;
  padding: 15px;
  border-radius: 1rem;
}
.name h4 {
  color: #070054;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  background: #070054;
  padding: 40px 50px;
}
.footer-c1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c1-title h1 {
  color: #dedede;
  font-size: 25px;
}
.c1-logo {
  display: flex;
  gap: 10px;
}
.c1-logo img {
  height: 30px;
  width: 40px;
  background-color: white;
  border-radius: 3px;
}
.c1-logo h1 {
  color: #dedede;
  font-size: 25px;
}
.c1-desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c1-desc-info {
  display: flex;
}
.c1-desc-info p {
  color: #dedede;
}
.footer-c2-c3 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer a {
  text-decoration: none;
}
.footer-c2-c3-title h1 {
  color: #dedede;
  font-size: 25px;
}
.c2-c3-desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c2-c3-desc a {
  color: #dedede;
}
.footer-c4 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.c4-title h1 {
  color: #dedede;
  font-size: 25px;
}
.c4-email {
  display: flex;
}
.c4-email input {
  padding: 10px;
}
.c4-email button {
  padding: 10px;
  background-color: #070054;
  color: #dedede;
  border-color: #dedede;
  border-radius: 1rem;
}
.c4-follow h1 {
  color: #dedede;
  font-size: 20px;
}
.skills button.active {
  background-color: #070054;
  color: #fff;
  border-radius: 5px;*+
}
